<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assignment1.Properties.Settings.bankConnectionString"
            connectionString="server=localhost;user id=root;password=ketchup;database=bank;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Assignment1.Properties.Settings.bankappConnectionString"
            connectionString="server=127.0.0.1;user id=root;database=bankapp;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>